
/* -----------
Mobile section 
----------- */

/* -----------
Header and about 
----------- */
body {
    margin: 0;
    background-color: white;
    font-size: 0.70rem;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


.navbar {
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em auto;
}


.navbar a:link {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.intro {
    text-align: center;
    margin: 5em auto;
}

#About, #Experience, #Skills, #Projects, #Footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#Experience, #Skills, #Projects, #MessageForm, #Footer {
    align-items: center;
}

.about-sect-img {
    max-width: 100%;
    margin-bottom: 4em;
}

#exp-btn, #skill-btn, #project-btn, #contact-btn, #connect-btn {
    text-align: center;
    text-decoration: underline;
    margin-top: 5em;
    margin-bottom: 3em;
}

#Skills, #Projects p {
    text-align: center;
} 


#Projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px; 
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#Projects li {
    background-color: #f0f0f0; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

#MessageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    text-align: center;
}

#MessageForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Optional: Set a max-width if needed */
}

#MessageForm label, 
#MessageForm input, 
#MessageForm textarea, 
#MessageForm button {
    width: 100%; /* Make form elements take the full width of the form */
    margin: 0.625rem 0; /* Space out the form elements, 0.625rem = 10px if root font-size is 16px */
}

#MessageForm input[type="text"], 
#MessageForm input[type="email"] {
    height: 2.5rem; /* Set the desired height for the text and email input fields, 2.5rem = 40px if root font-size is 16px */
    padding: 0.625rem; /* Add padding for better text input experience, 0.625rem = 10px if root font-size is 16px */
    box-sizing: border-box; /* Ensure padding doesn't increase the overall width */
}

#MessageForm textarea {
    height: 9.375rem; /* Set the desired height for the text area, 9.375rem = 150px if root font-size is 16px */
    padding: 0.625rem; /* Add padding for better text input experience, 0.625rem = 10px if root font-size is 16px */
    box-sizing: border-box; /* Ensure padding doesn't increase the overall width */
}

#Messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* Adjust as needed to ensure proper spacing */
    text-align: center;
    padding: 1rem;
}

#Messages ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0;
    margin: 0;
    width: 100%; /* Make ul take the full width of the container */
    max-width: 37.5rem; /* Adjust as needed, 37.5rem = 600px if root font-size is 16px */
}

#Messages li {
    background-color: #f0f0f0; /* Example background color for the list items */
    padding: 1rem; /* Example padding */
    margin: 0.625rem 0; /* Space out the list items, 0.625rem = 10px if root font-size is 16px */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem; /* Optional: Add border-radius for better aesthetics */
    box-sizing: border-box; /* Ensure padding doesn't increase the overall width */
}


/* -----------
Mobile
----------- */

@media only screen and (max-width: 425px) {

    /* -----------
    Experience
    ----------- */
    #abt-sect-1 {
        order: 2;
    }
    
    #abt-sect-2 {
        order: 1;
    }
    
    #abt-sect-3 {
        order: 3;
    }

    #Experience {
        margin-top: 2em;
        width: 100%;
        background-color:  #E0E0E0;
    }

    .item {
        margin: 0 2em 3em;
    }

    /* ----------
    Skills 
    ---------- */
    #Skills ul {
        padding-left: 0;
    }

    /* ----------
    Projects
    ---------- */
    #Projects ul {
        grid-template-columns: repeat(1, 1fr); /* 1 square per row */
    }

    /* ------------- 
    Messages 
    ------------ */

    #MessageForm form {
        max-width: 90%; /
    }

    #Messages ul {
        max-width: 90%; 
    }

    #MessageForm input[type="text"], 
    #MessageForm input[type="email"], 
    #MessageForm textarea {
        height: auto; /* Allow inputs and textarea to grow based on content */
    }

    /* ----------
    Footer 
    ---------- */

    .social-media {
        margin: 0 0 0 2em;
    }
    .social-media img {
        width: 30%;
    }
}

/* -----------
Larger Mobile
----------- */


@media only screen and (min-width: 426px) {
    body {
        font-size: 0.9rem;
        margin: 0;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .intro {
        margin-top: 0;
    }

    #About {
        width: 80%;
    }

    #abt-sect-1 {
        order: 2;
    }

    
    #abt-sect-2 {
        order: 1;
        display: grid;
        place-items: center;
    }
    
    #abt-sect-3 {
        order: 3;
    }

    .about-sect-img {
        max-width: 80%;
        margin-bottom: 4em;
    }

    /* -----------
    Experience
    ----------- */

    #Experience {
        margin-top: 2em;
        width: 100%;
        background-color:  #E0E0E0;
    }

    .item {
        margin: 0 4em 3em;
    }

    /* ----------
    Skills      
    ---------- */

    #Skills ul {
        padding-left: 0;
        margin: 0;
    }

    /* ----------
    Projects
    ---------- */

    #Projects ul {
        grid-template-columns: repeat(2, 1fr); /
    }

    /* ----------
    Messages
    ---------- */
    #MessageForm form {
        max-width: 80%; 
    }

    #Messages ul {
        max-width: 80%; 
    }

    /* ----------
    Footer 
    ---------- */

    .social-media {
        margin: 0 0 0 2.5em;
    }

    .social-media img {
        width: 30%;
        /* problem: less than 30% it switch to right */
    }
}

/* -----------
Desktop
----------- */

@media only screen and (min-width: 768px) {
    body {
        font-size: 1rem;
        margin: 0;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .intro {
        margin-top: 0;
    }

    #About {
        width: 80%;
    }

    #abt-sect-1 {
        order: 2;
    }
    
    #abt-sect-2 {
        order: 1;
        display: grid;
        place-items: center;
    }
    
    #abt-sect-3 {
        order: 3;
    }

    .about-sect-img {
        max-width: 40%;
        margin-bottom: 4em;
    }

    /* -----------
    Experience
    ----------- */

    #Experience {
        margin-top: 2em;
        width: 100%;
        background-color: #E0E0E0;
    }

    .item {
        margin: 0 7em 3em;
    }

    /* ----------
     Experience 
     ---------- */
     .title {
        display: flex;
        justify-content: space-between;
    }
    
    .exp-title h3 {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .exp-title p {
        margin-top: 0.2em;
        font-style: italic;
    
    }
    
    .loc-date > p {
        margin: 0.2em;
        text-align: right;
    }

    /* ----------
    Skills 
    ---------- */

    /* ----------
    Projects
    ---------- */

    #Projects ul {
        grid-template-columns: repeat(3, 1fr); /* 3 squares per row */
    }

    /* ----------
    Messages
    ---------- */

    #MessageForm form {
        max-width: 70%; /* Adjust width for tablets and small desktops */
    }

    #Messages ul {
        max-width: 70%; /* Adjust width for small tablets */
    }
    /* ----------
    Footer 
    ---------- */

    .social-media {
        width: 60%;
    }

} 



@media only screen and (min-width: 1236px) {
    body {
        margin: 0;
        font-size: 1rem;
    }

    .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }

    .navbar a:hover {
        text-decoration:line-through;
        color: black;
    }

    .navbar a {
        text-decoration: none;
        color: black;
    }

    #About {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about-sect {
        width: 50%;
        margin: 0 1em;
    }

    #abt-sect-1 {
        order: 1;
        text-align: right;
    }
    
    #abt-sect-2 {
        order: 2;
    }
    
    #abt-sect-3 {
        order: 3;
    }

    .about-sect-img {
        max-width: 100%;
        margin-bottom: 4em;
    }

    /* ----------
     Experience 
     ---------- */
    .title {
        display: flex;
        justify-content: space-between;
    }
    
    .exp-title h3 {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .exp-title p {
        margin-top: 0.2em;
        font-style: italic;
    
    }
    
    .loc-date > p {
        margin: 0.2em;
        text-align: right;
    }

    /* ----------
    Skills 
    ---------- */
    

    /* ----------
    Projects
    ---------- */

    #Projects ul {
        grid-template-columns: repeat(4, 1fr); /* 4 squares per row */
    }

    /* ----------
    Messages
    ---------- */
    #MessageForm form {
        max-width: 37.5rem; /* Max width set to 37.5rem (600px) */
    }

    #MessageForm form {
        max-width: 37.5rem; /* Max width set to 37.5rem (600px) */
    }
    /* ----------
    Footer 
    ---------- */

    .social-media {
        width: 35%;
    }
}


/* 

.welcome-message {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
    margin-top: 80px;
}

.head-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.name-section {
    max-width: 400px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-basis: 0; 
}

#About-left {
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 90px;
}

#About-right {
    text-align: left;
    margin-left: 50px;
    margin-right: 90px;
    margin-top: 240px;

}

img {
    max-width: 100%;
    max-height: 100%;
} */


/* ======== 
Experience section
=========*/
/* 
.experience {
    display: block;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background-color: #E0E0E0 ;
    border-radius: 20px;
    padding-bottom: 40px;
}

.experience h2 {
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
}

.item {
    margin-top: 80px;
    width: 520px;
    padding-left: 15px;
    padding-right: 20px;
    justify-content: center;
    margin-left: 75px;
}

.title {
    display: flex;
    justify-content: space-between;
}



.exp-title h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.exp-title p {
    margin-top: 2px;
    font-style: italic;

}

.loc-date > p {
    margin: 3px;
    text-align: right;
}

#skills {
    text-align: center;

}

#skills h2 {
    text-decoration: underline;
    margin-top: 100px;
}


#projects {
    text-align: center;
}

#projects h2 {
    text-decoration: underline;
    margin-top: 100px;
} */


 /*============ 
 Footer 
 ============ */

/* footer {
    display: block;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

footer > h2 {
    margin-bottom: 5px;;
    text-decoration: underline;
    text-align: center;
}
.socialmedia {
    display: flex;
    justify-content: center;
    width: 280px;
    align-items: center;
    margin-left: 210px;
    margin-right: 230px;
} */
