body {
    margin: 0;
    background-color: white;
    font-size: 15px;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


.navigation-bar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.welcome-message {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
    margin-top: 80px;
}
.head-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.name-section {
    /* border: solid 3px; */
    max-width: 400px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-basis: 0;
    
}
img {

    max-width: 100%;
    max-height: 100%;

}

#About {
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 90px;
}


#Projects {
    text-align: left;
    margin-left: 50px;
    margin-right: 90px;
    margin-top: 240px;

}

.experience {
    display: block;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    /*border: 2px solid;
     background-color: #2d2d30; */
    background-color: #E0E0E0 ;
    border-radius: 20px;
    padding-bottom: 40px;
}

.experience h1 {
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
}


.item-one {
    /* margin-right: 300px; */
    margin-top: 80px;
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 2px solid; */
    /* border-radius: 10px; */
    justify-content: center;
    margin-left: 80px;
}

.item-two {
    /* margin-left: 300px; */
    margin-top: 80px;
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 2px solid;
    border-radius: 10px; */
    margin-left: 80px;
}

.exp-title {
    margin-bottom: 0;
    text-align:left
}

.exp-jobtitle {
    margin-top: 2px;
    font-style: italic;

}

.footer {
    display: block;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

.footer h1 {
    margin-bottom: 5px;;
    text-decoration: underline;
    text-align: center;
}
.socialmedia {
    display: flex;
    justify-content: center;
    width: 280px;
    align-items: center;
    margin-left: 210px;
    margin-right: 230px;
}
